/* ==========================================================================
   Variable: Colors
   ========================================================================== */

// colors
$colors: (
  primary: #111111,
  black: (
    1: #1a1a1a,
    2: #414141,
    3: #707070,
    4: #a0a0a0,
    5: #cfcfcf,
  ),
  white: (
    1: #ffffff,
    2: #fafafa,
    3: #f3f3f3,
    4: #e7e7e7
  ),
  grey: (
    1: rgba(#111111, .25),
    2: rgba(#111111, .5),
  ),
);
