@import "core/style/_asset.scss";

.card {
  padding: 16px;
  border-radius: 16px;
  background-color: color(primary);
}

.title {
  @include font-size(16);
  font-weight: fw(bold);
  color: color(white, 1);
  margin-bottom: 8px;
}

.body {
  @include font-size(14);
  color: color(white, 1);
  margin-bottom: 0;
}