@import "application/style/_asset.scss";

.btn {
  display: inline-block;
  vertical-align: middle;
  min-width: 136px;
  padding: 10px 48px;
  border-radius: 20px;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  border: 1px solid transparent;
  @include font-size(16);
  background-color: transparent;
  transition: all 0.3s ease;
  &Primary {
    border-color: color(primary);
    background-color: color(primary);
    color: color(white, 1);
    &:hover {
      background-color: transparent;
      border-color: color(primary);
      color: color(primary);
    }
  }
  &Secondary {
    border-color: color(white, 1);
    background-color: color(white, 1);
    color: color(primary);
    &:hover {
      background-color: transparent;
      border-color: color(white, 1);
      color: color(white, 1);
    }
  }
  &Tertiary {
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 0;
    border-color: color(black, 2);
    background-color: color(black, 2);
    color: color(white, 1);
    &:hover {
      background-color: transparent;
      border-color: color(white, 1);
    }
  }
}

