@import "core/style/_asset.scss";

.section {
  padding: 72px 0;
  background-color: color(white, 5);
}

.title {
  @include font-size(32);
  font-weight: fw(regular);
  color: color(white, 1);
  margin-bottom: 24px;
}

.error {
  @include font-size(16);
  font-weight: fw(regular);
  color: color(white, 1);
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
}

.item {
  width: 20%;
  padding: 8px;
}