@mixin card {
  float: left;
  width: 25%;
  padding: 24px 12px 0;
}

.card {
  $c: &;
  @include card;
  &Box {
    position: relative;
    text-align: center;
    height: 280px;
    padding: 56px 24px 48px;
    background-color: #fff;
    color: #111;
  }
  &Icon {
    position: absolute;
    top: -24px;
    left: 24px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: block;
      width: 24px;
      height: auto;
    }
  }
  &Number {
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    color: #707070;
    margin-bottom: 8px;
  }
  &Title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  &Desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #707070;
    margin-bottom: 0;
  }
  &Primary {
    @include card;
    #{$c} {
      &Box {
        background-color: #111;
        color: #fff;
      }
      &Icon {
        background-color: #fff;
      }
      &Number {
        color: #cfcfcf;
      }
      &Desc {
        color: #a0a0a0;
      }
    }
  }
}
