/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
   header: 9,
   footer: 1,
   banner-before: 2,
   banner-bg: 1,
   banner-txt: 3,
   about-banner-before: 2,
   about-banner-after: 1,
   about-banner-txt: 3,
   card-link: 3,
   card-txt: 1,
   card-badge: 2,
   card-box-before: 2,
   about-body-before: 2,
   about-bg: 1,
   about-txt: 3,
);
