@import "core/style/_asset.scss";

.footer {
  $f: &;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: color(primary);
  color: color(white, 1);
  &Inner {
    @include clearfix;
  }
}

.top {
  padding: 64px 0 48px;
  .footer {
    &Inner {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -48px;
        width: 100%;
        height: 1px;
        background-color: color(black, 2);
      }
    }
  }
}

.middle {
  padding: 48px 0 64px;
}

.bottom {
  padding: 24px 0;
  background-color: color(black, 1);
}

.text,
.form {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

.text {
  color: color(white, 1);
  &Title {
    @include font-size(24);
    margin-bottom: 8px;
  }
  &Desc {
    max-width: 444px;
    @include font-size(16);
    margin-bottom: 0;
  }
}

.form {
  &Input {
    display: inline-block;
    outline: 0;
    width: calc(100% - 196px);
    background-color: color(white, 1);
    border: 1px solid color(white, 3);
    padding: 14px 16px;
    margin-right: 8px;
    font-weight: 400;
    transition: all 0.3s ease;
  }
}

.about {
  float: left;
  max-width: 372px;
  margin-right: 240px;
  &Desc {
    margin-bottom: 32px;
    span {
      font-style: italic;
    }
  }
}

.logo {
  margin-bottom: 32px;
  &Link {
    display: block;
    text-decoration: none;
  }
  &Img {
    display: block;
    height: 64px;
  }
}

.sosmed {
  font-size: 0;
  &Title {
    display: inline-block;
    vertical-align: middle;
    padding-right: 16px;
    margin-bottom: 0;
  }
  &List {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    padding: 0;
    margin: 0;
    @include clearfix;
  }
  &Item {
    float: left;
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
  &Link {
    display: block;
    text-decoration: none;
    transition: all .3s ease;
    &:hover {
      transform: translateY(-4px);
    }
    img {
      display: block;
      height: 24px;
    }
  }
}

.navigation {
  float: right;
  @include clearfix;
  &Item {
    float: left;
    margin-right: 80px;
    &:last-child {
      margin-right: 0;
      ul li {
        &:first-child {
          color: color(white, 1);
        }
        &:last-child {
          max-width: 264px;
        }
      }
    }
  }
}

.title {
  @include font-size(20);
  font-weight: fw(bold);
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  &Item {
    color: color(black, 4);
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &Link {
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      color: color(white, 1);
    }
  }
}

.author,
.copyright {
  @include font-size(14);
  margin-bottom: 0;
}

.author {
  float: left;
  span {
    color: color(white, 1);
    font-weight: fw(bold);
  }
}

.copyright {
  float: right;
}
